.sidebar {
  background: #ffffff;
  flex: 1 0 320px;
  height: 100vh;
  position: relative;
}

.sidebar--collapsed {
  flex: 1 0 32px;
}

.sidebar-brand {
  background: #161d2a;
  height: 80px;
  width: 100%;
}
